#!/usr/bin/env python3
import Adafruit_DHT

server_url = 'https://example.com?view=console&auth_token='

enable_sensor_ext = 0
enable_sensor   = 1 # Temperature sensor
enable_presence = 1 # Presence detector
enable_relay    = 0 # Relay switch
enable_test     = 0 # Dry run, don't send data to server

sensor_model = Adafruit_DHT.DHT22 # Adafruit_DHT.DHT11, Adafruit_DHT.DHT22, Adafruit_DHT.AM2302
sensor_pin = 17
relay_channel = 24
ips = ['192.168.1.1']
